<div id="events-container">
	<div class="heading">
		<h1>Eventos</h1>
		<div class="filters">
			<div class="filter">
				<select id="filterCategory" name="filterCateogry">
					<option disabled selected>Categoria</option>
				</select>
			</div>
			<div id="classificacao" class="filter">
				<select id="filterClassification" name="filterClassification">
					<option disabled selected>Classificação</option>
					<option value="Livre">Livre</option>
					<option value="10 anos">10 anos</option>
					<option value="12 anos">12 anos</option>
					<option value="14 anos">14 anos</option>
					<option value="16 anos">16 anos</option>
					<option value="18 anos">18 anos</option>
				</select>
			</div>
		</div>
	</div>
	<div id="eventsSearchContainer" class="events"></div>
</div>
