# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*


node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

codigo-fonte/logs
codigo-fonte/*.log
codigo-fonte/npm-debug.log*
codigo-fonte/yarn-debug.log*
codigo-fonte/yarn-error.log*
codigo-fonte/pnpm-debug.log*
codigo-fonte/lerna-debug.log*

codigo-fonte/node_modules
codigo-fonte/dist
codigo-fonte/dist-ssr
codigo-fonte/*.local


codigo-fonte/.vscode
codigo-fonte/.idea
codigo-fonte/.DS_Store
codigo-fonte/*.suo
codigo-fonte/*.ntvs*
codigo-fonte/*.njsproj
codigo-fonte/*.sln
codigo-fonte/*.sw?



# Local Netlify folder
codigo-fonte/.vercel

