footer {
  min-height: 17vh;
  height: 100%;
  width: 100%;
  background-color: #7209b7;
  color: #fff;
}
footer a {
  color: #fff;
}
footer .footer-container {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: flex-end;
  height: 100%;
  padding-top: 2rem;
  display: flex;
}
footer .footer-container .description {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

footer .footer-container .description h3 {
  color: #fff;
  font-family: Poppins;
  font-size: 28.5px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
