@import './new.css';
@import './details.css';

#events-container {
	display: flex;
	flex-direction: column;
	width: 100%;
}

#events-container .heading {
	display: flex;
	justify-content: space-between;
	margin: 2rem 0;
}

#events-container .heading .filters {
	display: flex;
	align-items: center;
	gap: 1rem;
}

#events-container .heading .filters .filter {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	position: relative;
}

#events-container .heading .filters .filter select {
	border-radius: 50px;
	border: 2px solid #3a0ca3;
	height: 55px;
	min-width: 170.705px;
	background-color: transparent;
	padding: 0 1rem;
	transition: all 0.3s ease-in-out;
	appearance: none;
	cursor: pointer;
	color: #3a0da3;
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

#events-container .heading .filters .filter select::-ms-expand {
	display: none;
}
#events-container .heading .filters .filter::after {
	content: '';
	background-image: url('../../../assets/arrowDown.svg');
	background-repeat: no-repeat;
	position: absolute;
	display: block;
	top: 60%;
	right: 24px;
	transform: translateY(-50%);
	width: 1rem;
	height: 1rem;
	pointer-events: none;
}
#events-container .heading .filters .filter select:focus {
	border: 2px solid #3a0ca3;
	outline: none;
}

#events-container .events,
.events-cards {
	display: grid;
	width: 100%;
	grid-template-columns: repeat(3, 33%);
	gap: 1rem;
	margin-bottom: 2rem;
}

#events-container .events .event,
.events-cards .event {
	display: flex;
	flex-direction: column;
	background-color: #fff;
	border-radius: 10px;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
	overflow: hidden;
	max-width: 343.047px;
	max-height: 328.518px;
}
#events-container .events .event .image-container,
.events-cards .event .image-container {
	width: 100%;
	height: 60%;
	overflow: hidden;
}
#events-container .events .event .image-container img,
.events-cards .event .image-container img {
	width: 100%;
	height: auto;
	object-fit: cover;
}

#events-container .events .event .info,
.events-cards .event .info {
	width: 100%;
	padding: 0.75rem;
	height: 40%;
	display: flex;
	gap: 1rem;
	justify-content: space-around;
	align-items: center;
}

#events-container .events .event .info .date,
.events-cards .event .info .date {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#events-container .events .event .info .date .day,
.events-cards .event .info .date .day {
	color: #000;
	font-family: Poppins;
	font-size: 28.429px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

#events-container .events .event .info .date .month,
.events-cards .event .info .date .month {
	color: #3d37f1;
	text-align: center;
	font-family: Poppins;
	font-size: 11.372px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}
#events-container .events .event .info h2,
.events-cards .event .info h2 {
	color: #000;
	font-family: Poppins;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: 150%; /* 24px */
}

#events-container .events .event .content,
.events-cards .event .content {
	width: 84%;
}

#events-container .events .event .description,
.events-cards .event .description {
	overflow: hidden;
	text-overflow: ellipsis;
	color: #6a6a6a;
	font-family: Poppins;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
	height: 100%;
	/* 21px */
}

#events-container .events .event:hover,
.events-cards .event:hover {
	transform: scale(1.05);
}
@media (max-width: 1029px) {
	#events-container .events,
	.events-cards {
		grid-template-columns: repeat(2, 1fr);
	}

	#events-container .heading .filters .filter select {
		min-width: 150px;
		font-size: 12px;
	}

	#events-container .heading .filters .filter::after {
		right: 22px;
		width: 2rem;
		height: 1.2rem;
	}
}

@media (max-width: 767px) {
	#events-container .events,
	.events-cards {
		grid-template-columns: repeat(1, 1fr);
		justify-items: center;
	}

	#events-container .events .event,
	.events-cards .event {
		max-width: 403.047px;
		min-height: 340px;
	}

	#events-container .heading .filters {
		flex-direction: column;
		width: 100%;
	}

	#events-container .heading .filters .filter {
		width: 100%;
	}
	#events-container .heading .filters .filter select {
		width: 100%;
	}

	#events-container .heading {
		flex-direction: column;
		gap: 1rem;
	}
}
