#new-event-container,
#edit-event-form-container {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 1rem;
	padding-top: 1rem;
}

#new-event-container h2,
#edit-event-form-container h2 {
	margin-top: 1rem;
	color: #3a0ca3;
	font-family: Poppins;
	font-size: 4rem;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

#new-event-container #new-event-form,
#edit-event-form {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 4rem;
}

#new-event-container #new-event-form .fields,
#edit-event-form .fields {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1rem;
	width: 45%;
}

#new-event-container #new-event-form .image-container,
#edit-event-form .image-container {
	width: 45%;
}

#new-event-container #new-event-form .fields .input-container,
#edit-event-form .fields .input-container {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

#new-event-container #new-event-form .fields .input-container label,
#new-event-container #new-event-form .image-container label,
#edit-event-form .fields .input-container label,
#edit-event-form .image-container label {
	color: rgba(29, 30, 36, 0.4);
	font-family: Poppins;
	font-size: 16px;
	font-style: normal;
	font-weight: 900;
	line-height: 146.5%;
}

#new-event-container #new-event-form .fields .input-container input,
#edit-event-form .fields .input-container input,
#edit-event-form .fields .input-container textarea,
#edit-event-form .fields .input-container select {
	border-radius: 10px;
	background: rgba(29, 30, 36, 0.05);
	height: 55px;
	border: transparent;
	padding: 0 1rem;
	border: 2px solid transparent;
	transition: all 0.3s ease-in-out;
}

#new-event-container #new-event-form .fields .input-container input:focus,
#edit-event-form .fields .input-container input:focus,
#edit-event-form .fields .input-container textarea:focus,
#edit-event-form .fields .input-container select:focus {
	border: 2px solid #4361ee;
	outline: none;
}

#new-event-container #new-event-form .fields .input-container.input-full,
#edit-event-form .fields .input-container.input-full {
	grid-column: span 2;
}

#new-event-container #new-event-form .fields .input-container.input-half,
#edit-event-form .fields .input-container.input-half {
	grid-column: span 1;
}

#new-event-container #new-event-form .fields input[type='submit'].desktop,
#new-event-container #new-event-form input[type='submit'].mobile,
#edit-event-form input[type='submit'].desktop,
#edit-event-form input[type='submit'].mobile {
	grid-column: 1 / 2;
	min-width: 216.896px;
	min-height: 34.734px;
	border-radius: 100px;
	background: #3a0ca3;
	color: var(--ffffff, #fff);
	text-align: center;
	font-family: Poppins;
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
	line-height: 146.5%;
	border: none;
	cursor: pointer;
	transition: all ease-in-out 0.2s;
}

#new-event-container #new-event-form input[type='submit'].mobile,
#edit-event-form input[type='submit'].mobile {
	display: none;
	grid-column: span 2;
}

#new-event-container #new-event-form .fields input[type='submit']:hover,
#edit-event-form .fields input[type='submit']:hover {
	background: #390ca3c5;
}

#new-event-container #new-event-form .fields input[type='submit']:disabled,
#edit-event-form .fields input[type='submit']:disabled {
	background: #565656c5;
	cursor: not-allowed;
}

#new-event-container #new-event-form .fields .input-container textarea,
#edit-event-form .fields .input-container textarea {
	border-radius: 10px;
	background: rgba(29, 30, 36, 0.05);
	border: transparent;
	height: 129px;
	padding: 1rem;
	border: 2px solid transparent;
	resize: none;
	transition: all 0.3s ease-in-out;
}

#new-event-container #new-event-form .fields .input-container select,
#edit-event-form .fields .input-container select {
	border-radius: 10px;
	background: rgba(29, 30, 36, 0.05);
	border: transparent;
	height: 55px;
	padding: 0 1rem;
	border: 2px solid transparent;
	transition: all 0.3s ease-in-out;
	appearance: none;
	cursor: pointer;
}

#new-event-container #new-event-form .fields .input-container select:focus,
#edit-event-form .fields .input-container select:focus {
	border: 2px solid #4361ee;
	outline: none;
}

#new-event-container
	#new-event-form
	.fields
	.input-container
	select::-ms-expand {
	display: none;
}

#new-event-container #new-event-form .fields .input-container select::after,
#edit-event-form .fields .input-container select::after {
	content: '\25BC';
	position: absolute;
	top: 0.7em;
	right: 0.5em;
	font-size: 1rem;
	pointer-events: none;
}

#new-event-container #new-event-form input[type='file']#image,
#edit-event-form input[type='file']#image {
	opacity: 0;
	top: 0;
	left: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	cursor: pointer;
}

#new-event-container #new-event-form .image-container,
#edit-event-form .image-container {
	position: relative;
}

#new-event-container img#image-preview,
#edit-event-form img#image-preview {
	max-width: 100%;
	height: 100%;
	place-content: center;
	object-fit: cover;
	display: flex;
	align-items: center;
	border-radius: 18.953px;
	cursor: pointer;

	justify-content: center;
}

@media (max-width: 1029px) {
	#new-event-container #new-event-form .fields input[type='submit'].desktop,
	#edit-event-form input[type='submit'].desktop {
		display: none;
	}
	#new-event-container #new-event-form input[type='submit'].mobile,
	#edit-event-form input[type='submit'].mobile {
		display: block;
		margin: 2rem 0;
	}
	#new-event-container #new-event-form,
	#edit-event-form {
		flex-direction: column;
	}
	#new-event-container #new-event-form .fields,
	#edit-event-form .fields {
		width: 100%;
	}
	#new-event-container #new-event-form .image-container,
	#edit-event-form .image-container {
		width: 100%;
		margin: 2rem 0;
	}
	#new-event-container #new-event-form .image-container img#image-preview,
	#edit-event-form .image-container img#image-preview {
		width: 100%;
	}
}
